<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boolzap</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

  <!-- apertura CONTAINER -->
  <div class="container">
    
    <!-- apertura box_boolzap -->
    <div class="box_boolzap">

      <!-- apertura Left Side -->
      <div class="left_side">

        <!-- apertura user option -->
        <div class="user_option d-flex">

          <!-- apertura user option left -->
          <div class="user_option_left d-flex">
            <img src="assets/img/avatar_1.jpg" alt="">
            <h2>Nome Utente</h2>
          </div>
          <!-- chiusura user option left -->

          <!-- apertura user option right -->
          <div class="user_option_right">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
          <!-- chiusura user option right -->

        </div>
        <!-- chiusura user option -->

        <!-- apertura NOTIFICATIONS -->
        <div class="notifications">
          <i class="fas fa-bell-slash"></i>
          <div>
            <h3>Ricevi notiche di nuovi messaggi</h3>
            <span>Attiva notifiche desktop</span>
          </div>
        </div>
        <!-- chiusura NOTIFICATIONS -->

        <!-- apertura SEARCH CONTACTS -->
        <div class="search_contacts d-flex">
          <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="test" v-on:keyup="searchContacts()" class="input_contact">
        </div>
        <!-- chiusura SEARCH CONTACTS -->

        <!-- apertura CONTACT LIST -->
        <div class="contact_list">
          <ul v-for="(contact, index) in contacts">
            <li v-if="contact.visible == true" class="d-flex" @click="printMsg(index)">
              <img :src="`assets/img/avatar${contact.avatar}.jpg`" alt="">
              <span>{{contact.name}}</span>
            </li>
          </ul>
        </div>
        <!-- chiusura CONTACT LIST -->

      </div>
      <!-- chiusura Left Side -->

      <!-- apertura Right Side -->
      <div class="right_side">
      
        <!-- apertura USER_ACCESS -->
        <div class="user_access d-flex">

          <!-- user access left -->
          <div class="user_access_left d-flex">
            <img :src="`assets/img/avatar${avatar}.jpg`" alt="">
            <div class="d-flex">
              <h2>{{userName}}</h2>
              <span>Ultimo accesso alle</span>
            </div>
          </div>

          <!-- user access right -->
          <div class="user_access_right d-flex">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>

        </div>
        <!-- chiusura USER_ACCESS -->

        <!-- apertura chat window -->
        <div class="chat_window">

          <!-- apertura chat box -->
          <div class="chat_box d-flex">
              <ul :class="(message.status === 'sent') ? 'msg_sent' : 'msg_received' " v-for="(message, index) in contacts[msgIndex].messages">
                  <li v-if="contacts[msgIndex].visible == true">
                    <p>{{message.text}} </p>
                    <i class="fas fa-chevron-down">
                      <!-- apertura box_delete_msg -->
                      <div class="box_delete_msg" >
                        <p>Message Info</p>
                        <p @click="deleteMsg(index)">Cancella Messaggio</p>
                      </div>
                      <!-- chiusura box_delete_msg -->
                    </i>
                    <br>
                    <p>{{message.date}}</p>
                    
                  </li>
              </ul>
          </div>
          <!-- chiusura chat box -->

          

        </div>
        <!-- chiusra chat window -->

        <!-- apertura chat input -->
        <div class="chat_input d-flex">
          <i class="far fa-smile"></i>
          <input type="text" class="input_text" placeholder="Scrivi un messaggio" v-on:keyup.enter="insertNewMsg(msgIndex)">
          <i class="fas fa-microphone"></i>
        </div>
        <!-- chiusura chat input -->

      </div>
      <!-- chiusura Right Side -->

    </div>
    <!-- chiusura box_boolzap -->

  </div>
  <!-- chiusura CONTAINER -->


  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>